body {
  margin: 0;
  font-family: "Museo Sans Cyrl", sans-serif;
  color: #333333;
}

a {
  color: #6933DC;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  padding: 14px 35px;
  background: #6933DC;
  border-radius: 6px;
  font-size: 17px;
  line-height: 20px;
  color: #FFFFFF;
  border: 0;
  transition: .4s;
  cursor: pointer;
  text-decoration: none;

  &a {
    display: inline-block;
  }

  &:hover {
    background: #32098a;
  }

  &:disabled {
    background-color: #e2dfe7;
    cursor: not-allowed;
  }

  &.button-transparent {
    background: transparent;
    color: #6933DC;
    border: 1px solid #6933DC;

    &:hover {
      background: #6933DC;
      color: white;
    }

    &:disabled {
      background: transparent;
      color: #e2dfe7;
      border: 1px solid #e2dfe7;
    }
  }
}

.common-title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-size: 48px;
  line-height: 58px;

  span {
    color: #6933DC;
  }
}

.big-title {
  font-family: "Museo Sans Cyrl Bold", sans-serif;
  font-size: 54px;
  line-height: 65px;

  span {
    color: #6933DC;
  }
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 3px solid #6933DC;
  border-radius: 50%;
  margin: 0 13px 0 0;
  transform: translateY(2px);
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  box-shadow: inset 10px 10px #6933DC;
  transition: .2s ease transform;
  transform: scale(0);
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

.link-arrow {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;

  a {
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    text-decoration: none;
    display: flex;
    align-items: center;
  }

  button {
    border: none;
    background-color: transparent;
    font-size: 17px;
    line-height: 20px;
    color: #6933DC;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
}

.link-arrow a:hover,
.link-arrow button:hover {
  text-decoration: underline;
}

.link-arrow a img,
.link-arrow button img {
  margin-left: 13px;
}
